# Series 생성 

시리즈를 생성할 때는 `pd.Series`를 이용합니다.

In [25]:
import pandas as pd

pd.Series(['조조', 96, 72, 91, 94, 96])

0    조조
1    96
2    72
3    91
4    94
5    96
dtype: object

인덱스 정보를 함께 전달할 수도 있습니다.

In [26]:
s = pd.Series(['조조', 96, 72, 91, 94, 96], index=['이름', '통솔', '무력', '지력', '정치', '매력'])
s

이름    조조
통솔    96
무력    72
지력    91
정치    94
매력    96
dtype: object

In [27]:
# Series의 인덱스 
s.index

Index(['이름', '통솔', '무력', '지력', '정치', '매력'], dtype='object')

In [28]:
# Series의 값
s.values

array(['조조', 96, 72, 91, 94, 96], dtype=object)

파이썬 딕셔너리를 전달하여 생성할 수도 있습니다.

In [29]:
infos = { "이름":"조운", "통솔":91, "무력":97, "지력":76, "정치":65, "매력":81 }
pd.Series(infos)

이름    조운
통솔    91
무력    97
지력    76
정치    65
매력    81
dtype: object

# Series 조회

데이터를 조회하는 방법

In [30]:
# 시리즈 생성 
c = pd.Series(['조조', 96, 72, 91, 94, 96], index=['이름', '통솔', '무력', '지력', '정치', '매력'])

# 인덱스 번호 
c[0]

'조조'

In [31]:
# 인덱스 명
c['이름']

'조조'

In [32]:
# 인덱스 명 
c.loc['무력']

72

In [33]:
# 멀티 인덱스 
c[['이름', '무력']]

이름    조조
무력    72
dtype: object

In [34]:
# 조건: isnull()
c[c.isnull()]

Series([], dtype: object)

In [35]:
# 조건: notnull()
c[c.notnull()]

이름    조조
통솔    96
무력    72
지력    91
정치    94
매력    96
dtype: object

# Series 값 변경 

값을 변경하는 방법은 아래와 같습니다.

In [36]:
c

이름    조조
통솔    96
무력    72
지력    91
정치    94
매력    96
dtype: object

In [37]:
# 무력 변경 후 확인 
c["무력"] = 100
c

이름     조조
통솔     96
무력    100
지력     91
정치     94
매력     96
dtype: object

In [38]:
# 무력, 지력 동시 변경 
c[['무력', '지력']] = (120, 100)
c

이름     조조
통솔     96
무력    120
지력    100
정치     94
매력     96
dtype: object

# Series 값 삭제 

삭제 할 때는 `del`이나 `drop()`을 이용합니다. `drop()`은 삭제된 값을 복사해서 반환합니다. `inplace`옵션을 이용하여 바로 삭제할 수 있습니다.

In [39]:
# del을 이용한 삭제는 바로 반영 됨 
del c['이름']
c

통솔     96
무력    120
지력    100
정치     94
매력     96
dtype: object

In [40]:
# drop은 삭제한 데이터를 반환.
c.drop('무력')

통솔     96
지력    100
정치     94
매력     96
dtype: object

In [41]:
# drop은 실제 데이터는 삭제 안됨 
c

통솔     96
무력    120
지력    100
정치     94
매력     96
dtype: object

In [42]:
# inplace 옵션을 추가하여 삭제 
c.drop('무력', inplace=True)
c

통솔     96
지력    100
정치     94
매력     96
dtype: object

# 속성 
시리즈의 주요 속성을 알아보겠습니다.

In [43]:
c.name = "s"

In [44]:
c.index

Index(['통솔', '지력', '정치', '매력'], dtype='object')

In [45]:
c.values

array([96, 100, 94, 96], dtype=object)