# DataFrame
데이터프레임을 생성해 보겠습니다.

In [5]:
import pandas as pd

datas = {
    '이름': ['조조', '조운', '주유'], 
    '통솔': [96, 91, 97], 
    '무력': [72, 97, 71], 
    '지력': [91, 76, 96], 
    '정치': [94, 65, 87], 
    '매력': [96, 81, 93]
}

# 데이터프레임 생성 
pd.DataFrame(datas)

   이름  통솔  무력  지력  정치  매력
0  조조  96  72  91  94  96
1  조운  91  97  76  65  81
2  주유  97  71  96  87  93

In [6]:
# 주어진 칼럼의 데이터만 생성 
pd.DataFrame(datas, columns=['이름', '무력'])

   이름  무력
0  조조  72
1  조운  97
2  주유  71

In [7]:
# 칼럼 정보가 없으면 NaN으로 생성 
pd.DataFrame(datas, columns=['이름', '특수능력'])

   이름 특수능력
0  조조  NaN
1  조운  NaN
2  주유  NaN

In [8]:
# 인덱스 번호 선언 
pd.DataFrame(datas, index=['A', 'B', 'C'])

   이름  통솔  무력  지력  정치  매력
A  조조  96  72  91  94  96
B  조운  91  97  76  65  81
C  주유  97  71  96  87  93